// variables 
$pink:#F9D1D9;
$rosa_op:#f9d2da66;
$pink_op2:#fcd0d9ab;
$brown:#5E3E22;
$white:#f8f9fa;
$negro: #1f1f1f;


$redes:(
    instagram:#55acee,
    facebook:#3a5795,
    whatsapp:#C25E30
);  